<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8" />
</head>
<body>
<p>
    A request has been made to reset your <th:block th:text="${serviceName}">ExampleService </th:block> account password.
</p>
<p>
    <a href="http://login.example.com/login/reset_password?code=some_code"
       th:href="@{${resetUrl}(code=${code})}">Reset your password</a>
</p>
<p>
    If you did not make this request, simply ignore this message and your old password will continue to work.
</p>
<p>
    Thank you,<br />
    <th:block th:text="${serviceName}">The Administration</th:block>
</p>
</body>
</html>
