<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/main">
<head>
    <th:block layout:include="nav :: head"></th:block>
    <style th:each="tile,status : ${tiles}" th:text="'.tile-' + ${status.count} + ' {background-image: url(' + @{${tile.get('image')}} + ')} .tile-' + ${status.count} + ':hover {background-image: url(' + @{${tile.get('image-hover')}} + ')}'"></style>
</head>
<body>
    <div class="header" layout:fragment="page-header">
        <th:block layout:include="nav :: nav"></th:block>
    </div>
    <div class="island" layout:fragment="page-content">
        <h1>Where to?</h1>
        <ul class="tiles">
            <li th:each="tile,status : ${tiles}">
                <a href="http://network.gopivotal.com" th:href="${tile.get('login-link')}" th:text="${tile.get('name')}" th:class="'tile-' + ${status.count}">Pivotal Network</a>
            </li>
        </ul>
        <div th:each="tile : ${tiles}" class="image-preload" th:style="'background-image: url(' + @{${tile.get('image-hover')}} + ')'"></div>
        <a th:unless="${#strings.isEmpty(invitationsLink)}" href="/invitations/new" th:href="@{${invitationsLink}}">Invite Users</a>
    </div>
</body>
</html>