<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<div class="island-landscape" layout:fragment="page-content">
    <div class="island-title">
        <h1>Create your <th:block th:text="${!companyName.equals('Cloud Foundry') and isUaa ? companyName + ' account': 'account'}">account</th:block></h1>
    </div>
    <div class="island-content">
        <div class="alert alert-error">
            <p>Your activation link has expired. Please request a new one <a href="/create_account" th:href="${@environment.getProperty('links.signup') != null}? ${@environment.getProperty('links.signup')} : @{/create_account}">here</a>.</p>
        </div>
    </div>
    <div class="island-footer">
        <a href="/login" th:href="@{/login}" class="link-lowlight">Already joined? Sign in.</a>
    </div>
</div>
</html>
