*~
#*
.#*
*#
*/src/main/java/META-INF/
*/src/main/webapp/META-INF/
*/src/main/*/WEB-INF/lib/
out/
.access_token
.result
.cache
.classpath
.project
.DS_Store
.settings/
*.iml
*.iws
*.ipr
.idea/
cargo-installs/
.metadata/
Servers/
*.swp
*.swo
coverage.ec
.springBeans
.gradle
build/
/classes/
bin
phantomjsdriver.log
statsd/logs
server/logs
uaa/logs

uaa/node_modules
# Docs
uaa/slate/package-lock.json
uaa/slate/node_modules
uaa/slate/node_modules/**/*
uaa/slateCustomizations/source/versionfile

ci/dockerfile/Dockerfile
logs/**

# generated certificates
scripts/certificates/*.key
scripts/certificates/*.crt
scripts/certificates/*.p12
scripts/certificates/tmp/**

# temporary tomcat war file directories
scripts/boot/tomcat/**

