*~
#*
.#*
*#
*/src/main/java/META-INF/
*/src/main/webapp/META-INF/
*/src/main/*/WEB-INF/lib/
out/
.access_token
.result
.cache
.classpath
.project
.DS_Store
.settings/
*.iml
*.iws
*.ipr
.idea/
cargo-installs/
.metadata/
Servers/
*.swp
*.swo
coverage.ec
.springBeans
.gradle
build/
/classes/
common/src/main/resources/build.properties
common/src/main/resources/git.properties
bin
phantomjsdriver.log

