env:
  global:
  - secure: Ubdyw9qc/AVX61ZTehLm90NG5q+qCIPljY5nYNmmkjvNKRIpx1bYIDjFflfXbSKn+opqBdpo5qQJwLQwO1xCvWfDsAO9YlriiqIZQuYXynAqe0hCqKkMn7OqTDR+rZuA+jl7t7LVwWhwbQ4+IiAC44d6CKIa1WPhmgy5dHxBKac=

matrix:
  include:
    - os: linux
      language: java
      services:
        - docker
      env:
        - IMAGE_NAME=cfidentity/uaa-generate-docs
        - TEST_COMMAND=/root/uaa/scripts/generate-docs.sh
    - os: linux
      language: java
      services:
        - docker
      env:
        - IMAGE_NAME=cfidentity/uaa-sqlserver
        - SPRING_PROFILE=sqlserver,default
        - TEST_COMMAND=/root/uaa/scripts/unit-tests.sh
    - os: linux
      language: java
      services:
        - docker
      env:
        - IMAGE_NAME=cfidentity/uaa-singular
        - TEST_COMMAND=/root/uaa/scripts/jasmine-tests.sh
    - os: linux
      language: java
      services:
        - docker
      env:
        - IMAGE_NAME=cfidentity/uaa-mysql
        - SPRING_PROFILE=mysql,default
        - TEST_COMMAND=/root/uaa/scripts/unit-tests.sh
    - os: linux
      language: java
      services:
        - docker
      env:
        - IMAGE_NAME=cfidentity/uaa-postgresql
        - SPRING_PROFILE=postgres,default
        - TEST_COMMAND=/root/uaa/scripts/unit-tests.sh
    - os: linux
      language: java
      services:
        - docker
      env:
        - IMAGE_NAME=cfidentity/uaa-postgresql
        - SPRING_PROFILE=ldap,default
        - TEST_COMMAND=/root/uaa/scripts/unit-tests.sh
    - os: linux
      language: java
      services:
        - docker
      env:
        - IMAGE_NAME=cfidentity/uaa-postgresql
        - SPRING_PROFILE=default
        - TEST_COMMAND=/root/uaa/scripts/unit-tests.sh

    - os: linux
      language: java
      services:
        - docker
      env:
        - IMAGE_NAME=cfidentity/uaa-mysql
        - SPRING_PROFILE=mysql,default
        - TEST_COMMAND=/root/uaa/scripts/integration-tests.sh
    - os: linux
      language: java
      services:
        - docker
      env:
        - IMAGE_NAME=cfidentity/uaa-postgresql
        - SPRING_PROFILE=postgres,default
        - TEST_COMMAND=/root/uaa/scripts/integration-tests.sh
    - os: linux
      language: java
      services:
        - docker
      env:
        - IMAGE_NAME=cfidentity/uaa-postgresql
        - SPRING_PROFILE=ldap,default
        - TEST_COMMAND=/root/uaa/scripts/integration-tests.sh
    - os: linux
      language: java
      services:
        - docker
      env:
        - IMAGE_NAME=cfidentity/uaa-postgresql
        - SPRING_PROFILE=default,hsqldb
        - TEST_COMMAND=/root/uaa/scripts/integration-tests.sh
    - os: linux
      language: java
      services:
        - docker
      env:
        - IMAGE_NAME=cfidentity/uaa-sqlserver
        - SPRING_PROFILE=sqlserver,default
        - TEST_COMMAND=/root/uaa/scripts/integration-tests.sh

cache:
  apt: true
  directories:
  - $HOME/.gradle

branches:
  except:
  - ci-passed

install:
- sudo apt-get -qy install lsof
- nvm install node
- nvm use node

#- sudo chmod a+w `readlink -f $JAVA_HOME/jre/lib/security/cacerts`
#- ./scripts/travis/install-ldap-certs.sh
#- ./scripts/ldap/install-ldap.sh ssl
#- if [ "$SPRING_PROFILE" = "keystone,default" ]; then ./scripts/keystone/install-keystone.sh; fi
#- if [ "$SPRING_PROFILE" = "ldap,default" ]; then ./scripts/ldap/configure-manifest.sh; fi
#- if [ "$SPRING_PROFILE" = "keystone,default" ]; then ./scripts/keystone/configure-manifest.sh; fi
#- mkdir -p $HOME/build/cloudfoundry/uaa/uaa/build/reports/tests
#- sudo apt-get -qy install lsof

before_script:
  - docker pull "$IMAGE_NAME" || true

script:
- docker run --privileged -t -v $HOME/build/cloudfoundry/uaa/:/root/build/cloudfoundry/uaa/ -v ${PWD}:/root/uaa --shm-size=1G $IMAGE_NAME $TEST_COMMAND "$SPRING_PROFILE" /root/uaa

after_success:
#- ./gradlew coveralls
#- for i in $(find $HOME/build/cloudfoundry/uaa/ -name reports -type d); do rm -rf $i; done
#- /bin/df -h
#- /usr/bin/du -sh *
#- python scripts/travis/travis_after_all.py
#- export $(cat .to_export_back)
- ! "if [ \"$BUILD_LEADER\" = \"YES\" ]; then\n  if [ \"$BUILD_AGGREGATE_STATUS\"
  = \"others_succeeded\" ]; then\n    echo \"All Succeeded!\"\n else\n    echo \"Some Failed\"\n  fi\nfi\n"
after_failure:
- python scripts/travis/travis_after_all.py
- export $(cat .to_export_back)
- ! "if [ \"$BUILD_LEADER\" = \"YES\" ]; then\n  if [ \"$BUILD_AGGREGATE_STATUS\"
  = \"others_failed\" ]; then\n    echo \"All Failed\"\n  else\n    echo \"Some Failed\"\n
  \ fi\nfi\n"
after_script:
- echo leader=$BUILD_LEADER status=$BUILD_AGGREGATE_STATUS

after_failure:
- /bin/df -h
- /usr/bin/du -sh *
addons:
  artifacts:
    key:
      secure: yRJd/NtH3uwSCtHLiJKt+X3ZPb57euSZA+gMG4/HkOTdkB0NuZnZaYb0GjKaLRbTAelqottjqPf5LVJXebBvjIAVH5R9C6yC1ghRYBPtHR3AJaod8ZTSUs+mLijvvhwfksKId4aZaF/GgNfPgFnC4IPybh21vTcAfrX4qS9FmN4=
    secret:
      secure: poV5WnsiLoks4bkd72cBOf/xbgWtD55e9tCodY5V8DFvdKUqxi8ty8ZrUbl54vsHcLcndP4Q0ByQqitkQ+xh+CbyTiBMqRK6mzn/HPuAmTjBXd8Lrc7PieXzKoPxrh0vMl1HtfBy/jii5zVPf2j5C2BxrDxlZCAGnZv+JSaOCKY=
    bucket: cf-id-travis-failure-logs
    debug: true
    paths:
    - $(find $HOME/build/cloudfoundry/uaa/ -name tests -type d | tr "\n" ":")
