[receive]
	requireChangeId = true
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group Identity Team
	submit = group Identity Team
	create = group Identity Team
[access "refs/tags/*"]
	create = group Identity Team
	push = +force group Identity Team
	pushTag = group Identity Team
[access "refs/*"]
	owner = group Administrators
	forgeAuthor = group Identity Team
	forgeCommitter = group Identity Team
