[receive]
	requireChangeId = true
[access "refs/*"]
	label-Verified = -1..+1 group Identity Team
	label-Verified = -1..+1 group Non-Interactive Users
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group Identity Team
	submit = group Identity Team
[access "refs/tags/*"]
	create = group Identity Team
	push = +force group Identity Team
	pushTag = group Identity Team
