<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Implicit sample</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
  <h1>Implicit sample</h1>
  <h2>What do you want to do?</h2>
  <ul>
    <li>
      <a
        th:href="@{{uaa}/oauth/authorize(uaa=${idServiceUrl},client_id='oauth_showcase_implicit_grant',response_type='token',redirect_uri=|${thisUrl}implicit.html#uaaLocation=${idServiceUrl}|) }">Use
        the Implicit Grant and see the response from /userinfo</a>
    </li>
  </ul>
</body>
</html>