.choose .list-group-item .remove-account {
    cursor: pointer
}
.choose .list-group-item .remove-account .fa-icon {
    padding: 16px
}
.choose .list-group-item .account-avatar {
    text-transform: uppercase;
    display: inline-block;
    color: white;
    background: #d4d9d9;
    border-radius: 50%;
    width: 50px;
    height: 50px
}
.choose .list-group-item .account-avatar .h2 {
    opacity: 0.8
}

.login-header {
    min-height: 2em;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}