<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/pivotal-ui-main">
<div layout:fragment="page-content">
<h4 class="txt-c pbxxl ptxl" th:text="${T(org.springframework.util.StringUtils).hasText(clientName) ? 'Sign in to continue to ' + clientName : 'Sign in to continue'}">
    Sign in to continue
</h4>
<form action="/login/idp_discovery" th:action="@{/login/idp_discovery}" method="post" role="form" _lpchecked="1">
    <input class="" name="commit" type="submit" value="Next" hidden/>
    <div th:if="${param.error}" class="alert alert-error mbxl">
        <p th:text="#{'login.' + ${param.error[0]}}">Error Message</p>
    </div>
    <div class="form-group email_address_field">
        <div style="height: 42px">
            <input class="form-control" id="email" name="email" autofocus="true" placeholder="Email address" style="width: 70%; float: left"/>
            <a style="float: right; margin-top: 8px" href="#">
                <input type="submit" name="skipDiscovery" value="Skip Discovery" style="border: 0; background: 0"/>
            </a>
        </div>
        <div class="help-block has-error" style="display: none;">
            Please enter your email address
        </div>
    </div>
    <div class="form-group">
        <input class="btn btn-highlight btn-block btn-lg" name="commit" type="submit" value="Next"/>
    </div>
</form>
<th:block th:if="${linkCreateAccountShow}">
    <hr class="divider-alternate-1"/>
    <div class="addl-actions txt-c mtl">
        <div class="action">
            <a th:unless="${#strings.isEmpty(links['createAccountLink'])}" href="/create_account" th:href="@{${links['createAccountLink']}}">Create account</a>
        </div>
    </div>
</th:block>
</div>
</html>
