<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/main">
    <div layout:fragment="page-content">
        <div class="email-container-div">
        <h4 class="txt-c pbxxl ptxl u-mb++ u-mt- email-h4"
            th:text="${T(org.springframework.util.StringUtils).hasText(clientName) ? 'Sign in to continue to ' + clientName : 'Sign in to continue'}">
          Sign in to continue
        </h4>
        <form action="/login/idp_discovery" th:action="@{/login/idp_discovery}" method="post" role="form" _lpchecked="1" class="email-form">
            <div th:if="${param.error}" class="alert alert-error mbxl">
                <p th:text="#{'login.' + ${param.error[0]}}">Error Message</p>
            </div>
            <div class="form-group email_address_field email-form-group">
                <label class="control-label email-form-label" for="email">Email address</label>
                <input class="form-control" id="email" name="email" type="email" autofocus="true" />
                <div class="help-block has-error" style="display: none;">
                    Please enter your email address
                </div>
            </div>
            <div class="form-group">
                <input class="btn btn-highlight btn-block btn-lg email-form-button" name="commit" type="submit" value="Next"/>
            </div>
        </form>
        <th:block th:if="${smtpEnabled}">
            <hr class="divider-alternate-1 u-mb++ u-mt+"/>
            <div class="addl-actions txt-c mtl email-links">
                <div class="action u-mt++">
                    <a th:unless="${#strings.isEmpty(links['createAccountLink'])}" href="/create_account" th:href="@{${links['createAccountLink']}}">Create account</a>
                </div>
            </div>
        </th:block>
        </div>
    </div>

</html>
