<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/main">
<div layout:fragment="page-content">
    <h4 id="email" th:text="${email}" class="txt-c pbxxl ptxl">
        Email
    </h4>
    <form action="/login.do" th:action="@{/login.do}" method="post" role="form" _lpchecked="1">
        <div class="form-group password_field">
            <label class="control-label" for="password">Password</label>
            <input name="username" th:value="${email}" type="hidden"/>
            <input class="form-control" id="password" name="password" type="password" autofocus="true"/>
            <div class="help-block has-error" style="display: none;">
                Please enter your password
            </div>
        </div>
        <div class="form-group">
            <input class="btn btn-highlight btn-block btn-lg" name="commit" type="submit" value="Sign in"/>
        </div>
    </form>
    <div class="addl-actions txt-c mbxl mtxxl clearfix">
        <div class="action pull-left">
            <a href="/login" th:href="@{/login}"><span class="fa fa-icon fa-chevron-left small"></span>
                Back
            </a></div>
        <div class="action pull-right">
            <a th:unless="${forgotPasswordLink == null}" href="/forgot_password" th:href="@{${forgotPasswordLink}}">Reset password</a>
        </div>
    </div>
</div>
</html>