<html>
  <head><title>Confirm authorization request</title></head>
  <body>
    <h4>Do you want to authorize the application "<%= client_id %>" access to <%= scopes %> </h4> 
    <form action="/confirm" method="POST">
      <input type="radio" name="choice" value="yes" /> Yes<br />
      <input type="radio" name="choice" value="no" /> No<br/>
      <input type="submit" />
    </form>
  </body>
</html>
