
label {
  font-weight: bold;
  display: block;
  margin-top: 1em;
  color: #48b8ea;
}

label.checkbox {
  display: inline;
  font-weight: normal;
  font-size: 80%;
}

input[type=text],
input[type=email],
input[type=password] {
  width: 40%;
  margin: 0.5em 0;
  border: 1px solid #999;
  background: #FFF;
}

iframe[src='about:blank'] {
	display: none;
}
