
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	    <title>OAuth 2 Showcase</title>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	    <style type="text/css">
	    table, th, td {
		   border: 1px solid black;
		   border-spacing: 0;
		}
	    </style>
	</head>
	<body>
		<h1>OAuth 2 Showcase!!!!!!!!!!!!111</h1>
	
			<p>You've used the authcode flow!:</p>
			<p>This is the token that was used:</p>
			<pre th:text="${token}"></pre>
			
			<h2>What do you want to do?</h2>
			<ul>
				<li>
					<a href="/">Try a different flow</a>
				</li>
			</ul>
		
	</body>
</html>