
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	    <title>OAuth 2 Showcase</title>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	    <style type="text/css">
	    table, th, td {
		   border: 1px solid black;
		   border-spacing: 0;
		}
	    </style>
	</head>
	<body>
		<h1>OAuth 2 Showcase!!!!!!!!!!!!111</h1>
	
			<p>You've used a client_credentials grant to access protected data on UAA. Here's the result of calling /oauth/clients:</p>
			<h2>Clients</h2>
			<table>
				<thead>
					<tr><td>Client ID</td><td>Authorized Grant Types</td><td>Scopes</td><td>Authorities</td></tr>
				</thead>
				<tbody>
					<tr th:each="client : ${clients.resources}">
						<td th:text="${client.client_id}">client_id</td>
						<td th:text="${client.authorized_grant_types}">authorized_grant_types</td>
						<td th:text="${client.scope}">scopes</td>
						<td th:text="${client.authorities}">authorities</td>
					</tr>
				</tbody>
			</table>
			<p>This is the token that was used:</p>
			<pre th:text="${token}"></pre>
			
			<h2>What do you want to do?</h2>
			<ul>
				<li>
					<a href="/">Try a different flow</a>
				</li>
			</ul>
		
	</body>
</html>