
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	    <title>OAuth 2 Showcase</title>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	    <style type="text/css">
	    table, th, td {
		   border: 1px solid black;
		   border-spacing: 0;
		}
	    </style>
	</head>
	<body>
		<h1>OAuth 2 Showcase!!!!!!!!!!!!111</h1>
		<p>You might want to do this in an incognito window if you want to repeat the SSO flow, otherwise your session on UAA will remain live and you won't be asked for your credentials again, even though you'll get a new token.</p>
	
		<h2>What do you want to do?</h2>
		<ul>
			<li>
				<a href="/authorization_code">Log in via authcode flow SSO</a>
			</li>
			<li>
				<a href="/client_credentials">Use Client Credentials to get a list of clients from UAA</a>
			</li>
		</ul>
		
	</body>
</html>