
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	    <title>OAuth 2 Showcase</title>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	    <style type="text/css">
	    table, th, td {
		   border: 1px solid black;
		   border-spacing: 0;
		}
	    </style>
	</head>
	<body>
		<h1>OAuth 2 Showcase!!!!!!!!!!!!111</h1>
		<p>Enter your username and password to login using password grant.</p>
		<form action="password" method="POST">
			<input name="username"/>
			<input name="password" type="password"/>
			<input name="submit" type="submit"/>
		</form>
	</body>
</html>