<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/main"
      th:with="pivotal=${@environment.getProperty('login.brand') == 'pivotal'},isUaa=${T(org.cloudfoundry.identity.uaa.zone.IdentityZoneHolder).isUaa()}">
<div class="island-landscape" layout:fragment="page-content">
    <div class="island-title">
        <h1>Create your <th:block th:text="${pivotal and isUaa ? 'Pivotal ID' : 'account'}">account</th:block></h1>
        <p th:if="${pivotal and isUaa}">
            A <strong>Pivotal ID</strong> lets you sign in to Pivotal products
            using a single username and password.
        </p>
    </div>
    <div class="island-content">
        <div class="alert alert-error">
            <p>Your activation link has expired. Please request a new one <a href="/create_account" th:href="${@environment.getProperty('links.signup') != null}? ${@environment.getProperty('links.signup')} : @{/create_account}">here</a>.</p>
        </div>
    </div>
    <div class="island-footer">
        <a href="/login" th:href="@{/login}" class="link-lowlight">Already joined? Sign in.</a>
    </div>
</div>
</html>
