
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Authcode sample</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
  <h1>Authcode sample</h1>

  <p>You've used the authcode flow! Here's the result of calling /userinfo:</p>
  <pre th:text="${response}"></pre>
  <p>This is the token that was used:</p>
  <pre th:text="${token}"></pre>

  <h2>What do you want to do?</h2>
  <ul>
    <li>
      <a target="uaa" th:href="|${idServiceUrl}/profile|">See your account profile (so you can de-authorize this client)</a>
    </li>
    <li>
      <a target="uaa" th:href="|${idServiceUrl}/logout.do|">Log out of the Identity Zone</a>
    </li>
    <li>
      <form action="logout"><input type="submit" value="Log out of this Sample"/></form>
    </li>
  </ul>

</body>
</html>