<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/main}">
<head>
</head>
<div class="island" layout:fragment="page-content">
    <div class="island-content">
        <div th:if="${error_message_code}" class="alert alert-error">
            <p th:text="#{${error_message_code}}">Error Message</p>
        </div>
        <img src="/resources/images/sad_cloud.png" th:src="@{/resources/images/sad_cloud.png}" role="presentation" />
    </div>
    <h2>
        Uh oh.<br />
        Something went amiss.
    </h2>
</div>
</html>