<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/main}">
<div class="island" layout:fragment="page-content">
    <h1>Reset Password</h1>
    <div class="island-content">
        <form th:action="@{/forgot_password.do}" method="post" novalidate="novalidate">
            <div th:if="${message_code}" th:text="#{'forgot_password.' + ${message_code}}" class="error-message"></div>
            <div th:if="${message}" th:text="${message}" class="error-message"></div>
            <input type="hidden" name="client_id" th:value="${client_id}"/>
            <input type="hidden" name="redirect_uri" th:value="${redirect_uri}"/>
            <input name="username" type="text" placeholder="Username" aria-label="Username" autofocus="autofocus" class="form-control"/>
            <input type="submit" value="Send reset password link" class="forgot-password-button"/>
        </form>
        <a href="/login" th:href="@{/login}" class="link-lowlight">Back to Sign In</a>
    </div>
</div>
</html>
