<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/main">
<head>
    <th:block layout:include="nav :: head"></th:block>
    <style th:each="tile,status : ${tiles}" th:utext="'.tile-' + ${status.count} + ' {background-image: url(&#34;' + @{${tile.appIcon}} + '&#34;)}'"></style>
</head>
<div class="header" layout:fragment="page-header">
    <th:block layout:include="nav :: nav"></th:block>
</div>
<div class="island" layout:fragment="page-content">
    <h1>Where to?</h1>
    <ul class="tiles">
        <li th:each="tile,status : ${tiles}">
            <a href="https://www.cloudfoundry.org/" th:href="${tile.appLaunchUrl}" th:text="${tile.clientId}" th:class="'tile-' + ${status.count}">Cloud Foundry</a>
        </li>
    </ul>
    <div th:each="tile : ${tiles}" class="image-preload" th:style="'background-image: url(&#34;data:image/png;base64,' + @{${tile.appIcon}} + '&#34;)}'"></div>
    <a th:unless="${#strings.isEmpty(invitationsLink)}" href="/invitations/new" th:href="@{${invitationsLink}}">Invite Users</a>
</div>
</html>
