<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <th:block layout:fragment="head">
        <script type="text/javascript" src="/vendor/jquery/javascripts/jquery.js" th:src="@{'/vendor/jquery/javascripts/jquery.js'}"></script>
        <script type="text/javascript" src="/resources/javascripts/nav.js" th:src="@{'/resources/javascripts/nav.js'}"></script>
    </th:block>
</head>
<th:block layout:fragment="nav">
    <div class="nav">
        <button type="button" id="nav-dropdown-button" class="dropdown-trigger" aria-expanded="false" aria-controls="nav-dropdown-content">
            <span sec:authentication="name">user@example.com</span>
            <i class="fa fa-chevron-down"></i>
        </button>
        <ul class="dropdown-content" id="nav-dropdown-content">
            <li><a href="/profile" id="nav-dropdown-content-profile" th:href="@{/profile}">Account Settings</a></li>
            <li><a href="/logout.do" id="nav-dropdown-content-logout" th:href="@{/logout.do}">Sign Out</a></li>
        </ul>
    </div>
</th:block>
</html>
