<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<head>
    <th:block layout:insert="~{nav :: head}"></th:block>
    <script type="application/javascript" src="resources/javascripts/passcode/copy_clipboard.js"></script>
</head>
<div layout:fragment="page-nav">
    <th:block layout:replace="~{nav :: nav}"></th:block>
</div>
<div class="island" layout:fragment="page-content">
    <h1>Temporary Authentication Code</h1>
    <h2><samp id="passcode" th:text="${passcode}">my-code</samp>
    <a href="#" id="copybutton"><i class="fa fa-copy"></i></a></h2>
</div>
</html>