<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <!-- Some pages already have JQuery, when they do not, import this too -->
    <th:block layout:fragment="deps">
        <script type="text/javascript" src="/vendor/jquery/javascripts/jquery.js" th:src="@{'/vendor/jquery/javascripts/jquery.js'}"></script>
    </th:block>
    <th:block layout:fragment="head">
        <script type="text/javascript" src="/resources/javascripts/pw_validation.js" th:src="@{'/resources/javascripts/pw_validation.js'}"></script>
    </th:block>
</head>
<th:block layout:fragment="pw-validate(passwordField, confirmPasswordField, submitButton)">
    <script th:inline="javascript">
        /*<![CDATA[*/
        $(document).ready(function(){
            // Get all the password policy requirements.
            // In case the policy equals to null, initialize the values to 0.
            var specialCount = /*[[${passwordPolicy == null ? 0 : passwordPolicy.getRequireSpecialCharacter()}]]*/;
            var uppercaseCount = /*[[${passwordPolicy == null ? 0 : passwordPolicy.getRequireUpperCaseCharacter()}]]*/;
            var lowercaseCount = /*[[${passwordPolicy == null ? 0 : passwordPolicy.getRequireLowerCaseCharacter()}]]*/;
            var numberCount = /*[[${passwordPolicy == null ? 0 : passwordPolicy.getRequireDigit()}]]*/;
            var lengthCount = /*[[${passwordPolicy == null ? 0 : passwordPolicy.getMinLength()}]]*/;
            validatePassword(specialCount, uppercaseCount, lowercaseCount,
                              numberCount, lengthCount,
                              /*[[${passwordField}]]*/,
                              /*[[${confirmPasswordField}]]*/,
                              /*[[${submitButton}]]*/
                            );
        });
        /*]]>*/
    </script>
</th:block>
<th:block layout:fragment="pw-requirements">
    <div id="password-requirements" class="password-req-box">
        <h5>Password must meet the following requirements:</h5>
        <ul class="list-unstyled" id="password-requirements-list">
            <li id="special-req" class="text-danger">At least <strong><span id="special-count"></span> special letters</strong></li>
            <li id="uppercase-req" class="text-danger">At least <strong><span id="uppercase-count"></span> uppercase letters</strong></li>
            <li id="lowercase-req" class="text-danger">At least <strong><span id="lowercase-count"></span> lowercase letters</strong></li>
            <li id="number-req" class="text-danger">At least <strong><span id="number-count"></span> numbers</strong></li>
            <li id="length-req" class="text-danger">At least <strong><span id="length-count"></span> characters long</strong></li>
        </ul>
    </div>
</th:block>
<th:block layout:fragment="pw-confirm-req">
    <div id="pw-confirm-requirement" class="password-req-box">
        <h5 id='match-passwords-text'>Your passwords <strong><span id="match-passwords">DO NOT</span></strong> match</h5>
    </div>
</th:block>
</html>