<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<div class="island" layout:fragment="page-content">
    <h1>Reset Password</h1>
    <div class="island-content">
        <div th:text="|Username: ${username}|" class="email-display">Username: user@example.com</div>
        <form th:action="@{/reset_password.do}" method="post" novalidate="novalidate">
            <input type="hidden" name="code" th:value="${code}"/>
            <input type="hidden" name="email" th:value="${email}"/>
            <input type="hidden" name="username" th:value="${username}"/>
            <div th:if="${message_code}" th:text="#{'reset_password.' + ${message_code}}" class="error-message"></div>
            <div th:if="${message}" th:text="${message}" class="error-message"></div>
            <input name="password" type="password" placeholder="New Password" aria-label="New Password" autocomplete="off" class="form-control"/>
            <input name="password_confirmation" type="password" placeholder="Confirm" aria-label="Confirm New Password" autocomplete="off" class="form-control"/>
            <input type="submit" value="Create new password" class="island-button"/>
        </form>
    </div>
</div>
</html>