<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script type="application/javascript" th:src="@{'/resources/javascripts/session/sjcl.js'}"></script>
    <script type="application/javascript" th:src="@{'/resources/javascripts/session/session.js'}"></script>
    <script type="application/javascript"
            th:src="@{'/resources/javascripts/session/session_management_message_handler.js'}"></script>
</head>
<body>
    <input type="hidden" id="clientId" th:value="${clientId}">
    <input type="hidden" id="messageOrigin" th:value="${messageOrigin}">
</body>
</html>
