<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/main">
<head>
    <th:block layout:include="nav :: head"></th:block>
</head>
<div layout:fragment="page-nav">
    <th:block layout:replace="nav :: nav"></th:block>
</div>
<div class="panel-container" layout:fragment="page-content">
    <div class="panel">
        <p>
            <span th:utext="#{switch_idp.not_supported(${client_display_name})}"></span>
            <a th:text="#{switch_idp.click_here}" th:href="@{/logout.do(redirect=${redirect})}">click here</a>.
        </p>
    </div>
</div>
</html>
