<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- Cloud Foundry 2012.02.03 Beta Copyright (c) [2009-2012] VMware, Inc. All Rights Reserved. This product is licensed to 
	you under the Apache License, Version 2.0 (the "License"). You may not use this product except in compliance with the License. 
	This product includes a number of subcomponents with separate copyright notices and license terms. Your use of these subcomponents 
	is subject to the terms and conditions of the subcomponent's license, as noted in the LICENSE file. -->
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">

    <listener>
        <listener-class>org.cloudfoundry.identity.statsd.Log4jContextInitializer</listener-class>
    </listener>

    <filter>
        <filter-name>log4jFilter</filter-name>
        <filter-class>org.cloudfoundry.identity.statsd.Log4jContextInitializer</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>log4jFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

</web-app>
