body {
  background: url('../images/bg-plain.png') no-repeat;
  background-size:100%;
  font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;
  text-shadow: 1px 0 #333333;
  color:#FFFFFF;
  font-weight:300;
}

a {
  text-decoration: none;
  color:#FFFFFF;
}

p {
  font-size: 16px;
}

.splash {
  background: url('../images/bg-pattern.png') no-repeat;
  margin: 32px auto 0 auto;
  width:1023px;
  height:672px;
}

.logo {
  margin: 58px 0 13px 231px;
}

.splash-box {
  width:450px;
  margin: 0 auto;
  text-align: center;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -khtml-border-radius: 10px;
  background-color: #1c94db;
  background: -moz-linear-gradient(top, #1c94db 0%, #03396c 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1c94db), color-stop(100%,#03396c));
  background: -webkit-linear-gradient(top, #1c94db 0%,#03396c 100%);
  background: -o-linear-gradient(top, #1c94db 0%,#03396c 100%);
  background: -ms-linear-gradient(top, #1c94db 0%,#03396c 100%);
  background: linear-gradient(top, #1c94db 0%,#03396c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c94db', endColorstr='#03396c',GradientType=0 );
  border: 5px solid rgb(152, 178, 198);
  border: 5px solid rgba(152, 178, 198, 0.6);
  -webkit-background-clip: padding-box; /* for Safari */
  background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
}

.container {
	text-align: left;
	margin: 33px;
}

#loginForm input {
  color:#FFFFFF;
  font-size:13px;
  background: #2b2c31;
  background-repeat:no-repeat;
  border: none;
  width:330px;
  height:38px;
  border-radius:6px;
  padding: 0 0 0 20px;
  margin: 0 0 9px 0;
}

input::-webkit-input-placeholder {
  color:#FFFFFF;
}

:focus::-webkit-input-placeholder {
  color: transparent;
}

input#username {
  background-image: url(../images/icon-user.png);
  background-position: 313px 6px;
}

input#password {
  background-image: url(../images/icon-password.png);
  background-position: 315px 6px;
}

.orange-button {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: white;
  font-size: 14px;
  text-align: center;
  border: 1px solid #813516;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background: #EC6129;
  background: -moz-linear-gradient(top, #EC6129 0%, #C14513 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#EC6129), color-stop(100%,#C14513));
  background: -webkit-linear-gradient(top, #EC6129 0%,#C14513 100%);
  background: -o-linear-gradient(top, #EC6129 0%,#C14513 100%);
  background: -ms-linear-gradient(top, #EC6129 0%,#C14513 100%);
  background: linear-gradient(top, #EC6129 0%,#C14513 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ec6129', endColorstr='#C14513',GradientType=0 );
  -webkit-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, .3), inset 0 -1px 0 0 rgba(0, 0, 0, .4);
  -moz-box-shadow: inset 0 1px 0 0 rgba(255,255,255, .3), inset 0 -1px 0 0 rgba(0,0,0, .4);
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, .3), inset 0 -1px 0 0 rgba(0, 0, 0, .4);
  text-transform: uppercase;
  text-decoration: none;
}

.orange-button:hover {
  text-decoration: none;
  background: #f9672c;
  background: -moz-linear-gradient(top,  #f9672c 0%, #e26638 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9672c), color-stop(100%,#e26638));
  background: -webkit-linear-gradient(top,  #f9672c 0%,#e26638 100%);
  background: -o-linear-gradient(top,  #f9672c 0%,#e26638 100%);
  background: -ms-linear-gradient(top,  #f9672c 0%,#e26638 100%);
  background: linear-gradient(top,  #f9672c 0%,#e26638 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9672c', endColorstr='#e26638',GradientType=0 );
  cursor:pointer;
}

.button-alt a {
  font-size: 14px;
  margin: 0 0 0 73px;
}

.button-alt a:hover {
  color:#cccccc;
}

.question {
  padding-right: 50px;
	padding-bottom: 10px;
	background-image: url(../images/icon-question.png);
  background-position: 140px 0px; /*A little hardcoded*/
	background-repeat: no-repeat;
	width: 20px;
	height:20px;
}

.footer {
  font-size: 12px;
  text-align: center;
  margin: 52px 0 0 0;
  color:#333333;
  text-shadow: 0 1px white;
  font-weight:400;
}

.flash {
	display: inline-block;
	border-radius: 5px;
  color: #FF0000;
  background: #EEE;
  padding: 10px;
	margin-bottom: 10px;
	font-size: 13px;
  text-shadow: 0 1px white;
}