<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <meta charset="UTF-8" />
    </head>
    <body>
        <p>Hello!</p>
        <p>
            <th:block th:text="${currentUser}"></th:block> has invited you to join the
            closed pilot of
            <a href="http://service.example.com"
               th:href="${serviceUrl}"><th:block th:text="${serviceName}">
            </th:block></a>
        </p>
        <p>
            <th:block th:text="${serviceName}"></th:block> is a new service under
            development by <th:block th:text="${serviceOrg}"></th:block> intended to help
            federal teams focus on creating quality services securely hosted in the cloud,
            and assist in getting Authority to Operate (ATO) in record time.
            <th:block th:text="${serviceName}"></th:block> is currently in
            <a href="http://service.example.com/dashboard"
               th:href="${serviceOrgDashboardUrl}">alpha state</a>
            and under active development. We'll be asking for your feedback and making
            improvements on a regular basis.
        </p>
        <p>
            To this point, <th:block th:text="${serviceName}"></th:block> has been an
            internal-facing service for <th:block th:text="${serviceOrg}"></th:block>,
            so please have patience as we improve the on-boarding and support experience
            for people from other agencies, and correct documentation which may be
            <th:block th:text="${serviceOrg}"></th:block>-specific.
        </p>
        <p>
        </p>
        <strong>Here's what happens next</strong>
        <p>
        <ul>
            <li>
                <a href="http://login.example.com/invitations/accept"
                   th:href="@{${accountsUrl}(code=${code})}">Accept Invite</a>
                to continue the registration process.
            </li>
            <li>
                You should download the CLI tool to start using the platform according to
                the <a href="http://service.example.com/docs"
                       th:href="${serviceSetupDoc}">Getting Started - Setup</a> page.
            </li>
            <li>
                If you log in immediately, you may not see any orgs or spaces to which
                you have access. It might take up to 5 minutes to provision your sandbox
                space.
            </li>
        </ul>
        </p>
        <p>
            That's it! You're ready to use the platform. The platform is well-documented
            at <a href="https://docs.cloudfoundry.org">https://docs.cloudfoundry.org</a>,
            and documentation about <th:block th:text="${serviceName}"></th:block> in particular is
            located <a href="http://service.example.com/docs"
                       th:href="${serviceDocs}">here</a>.
        </p>
        <p>
            You'll probably want to try deploying an application to see how it works.
            We have some sample applications available
            <a href="http://service.example.com/Examples"
               th:href="${serviceExamples}">here</a>.
        </p>
        <p>
            If you run into problems or have any questions,
            please send us an
            <a href="mailto:support@support.com"
               th:href="${serviceSupportEmail}">e-mail</a>.
        </p>
        <p>
            Thank you,<br />
            <th:block th:text="${serviceName}">The Administration</th:block> Team
        </p>
    </body>
</html>