<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8" />
</head>
<body>
<p>
    A request has been made to reset your <th:block th:text="${serviceName}">ExampleService </th:block> account password for <th:block th:text="${email}">user@example.com</th:block>.
</p>
<p>
    Your account credentials for <th:block th:text="${hostname}">localhost</th:block> are managed by an external service. Please contact your administrator for password recovery requests.
</p>
<p>
    Thank you,<br />
    <th:block th:text="${serviceName}">The Administration</th:block>
</p>
</body>
</html>
