<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8" />
</head>
<body>
<p>
    A request has been made to change the email for <th:block th:text="${servicePhrase}">an ExampleService</th:block> from <th:block th:text="${email}">user@example.com</th:block> to <th:block th:text="${newEmail}">new@example.com</th:block>.
</p>
<p>
    Click <a href="http://login.example.com/login/verify_email?code=some_code"
       th:href="@{${verifyUrl}(code=${code})}">Verify your email</a>
    for the new email to be verified and the for the change to be reflected on your account.
</p>
<p>
    If you did not make this request, simply ignore this message and your old email will continue to work.
</p>
<p>
    Thank you,<br />
    <th:block th:text="${serviceName}">The Administration</th:block>
</p>
</body>
</html>
