target/
*~
#*
.#*
*#
*/src/main/java/META-INF/
*/src/main/webapp/META-INF/
*/src/main/*/WEB-INF/lib/
src/main/resources/profiles/dev/
out/
.access_token
.result
.cache
.classpath
.project
.DS_Store
.settings/
*.iml
*.iws
*.ipr
.idea/
cargo-installs/
.metadata/
Servers/
*.swp
*.swo
coverage.ec
git.properties
