@media (max-width: 480px) {
    .page .panel.login-email {
        width: 100%;
    }
}

.page {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.panel.login-email, .panel.login-password {
    min-width: 320px;
    width: 50%;
    max-width: 500px;
    border-radius: 5px;
}

.banner-header {
    min-height: 2em;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.banner-header img {
    max-width: 100%;
}

.page .panel .logo {
    max-height: 64px;
    margin: auto;
}
