<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8" />
</head>
<body>
<p>
   <th:block th:text="${currentUser}"></th:block> has invited you to join <th:block th:text="${serviceName}"></th:block>
</p>
<p>
    <a href="http://login.example.com/invitations/accept"
       th:href="@{${accountsUrl}(code=${code})}">Accept Invite</a>
    to continue the registration process.
</p>
<p>
    Thank you,<br />
    <th:block th:text="${serviceName}">The Administration</th:block>
</p>
</body>
</html>
